#logo {
	padding-top: 20px;
}
/*Background Image*/
.bg{	
	background-color: #63b4d1;
}
.specialeffects:hover {
  color: black ;
  background-color: #90fcf9 ;
}
#navi{
	text-align: center;
	background-color: #022b3a;
	padding: 20px;
	margin-top: 10px;
}
.tab{
	color: #90fcf9;
	background-color: #022b3a;
	font-size: 30px;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 15px;
}
.content{
	color: #fff;
	background-color:#022b3a;
	margin:30px;
}
.leaderboard{
	color: #fff;
	background-color:#022b3a;
	margin-top: 30px;
	margin-left: 10px;
}
.footer{
	color: #fff;
	background-color: #022b3a;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:left;
}
a.foot{
	color: #fff;
}